.react-tabs__tab {
  padding: 5px !important;
  color: white;
  border: none !important;
}

.react-tabs__tab--selected {
  background: transparent !important;
  color: white !important;
  border: yellowgreen !important;
}

#responsive-canvas {
  width: 100%;
}
